version: '2'
services:
  bot:
    image: "akalsey/zbot"
    ports:
     - "3000:3000"
    links:
      - api
    environment:
      - PORT=3000
      - APIHOST=http://api:80/
      - CISCOSPARK_ACCESS_TOKEN=YOUR-BOT-ACCESS-TOKEN
      - LOG_LEVEL=warn
      - DEFAULT_GAME=Zork
  api:
    image: "akalsey/zmachine-api"
    environment:
      - PORT=80
    volumes:
      - zcode:/root/zcode
      - zsaves:/root/saves

volumes:
  zcode:
    external: true
  zsaves:
    external: true